    body {
        margin: auto ;
        width: 1200px;
    }
    #section_header_2_dark > div > div > div > nav > div > div.navbar-header > button {
        display: none;
    }
    #section_header_2_dark > div > div > div > nav > div {
        width: 1200px;
        height: 100px;
        background: #333333;
    }
    #section_header_2_dark > div > div > div > nav > div > div.navbar-header  {
        width: 20%;
        float: left;
        margin-left: 200px;
        margin-top: 25px;
    }
    #navbar-collapse-02{
        width: 50%;
        float: right;
    }
    #navbar-collapse-02 > ul li {
        list-style: none    ;
        display: inline;
        color: yellow;
        margin-right: 20px  ;
    }
    #navbar-collapse-02 > ul li a{
        text-decoration: none;
        color: white;

    }
    #section_pix_4 .has-video {
        width: 1200px   ;
        height: 675px   ;
        position: relative;
        text-align: center;
    }
    .bgvid {
        width: 1200px;
        height: 675px;
        filter: brightness( 50%);

    }
    #section_pix_4 .has-video .clearfix .container .context_style{
        position: absolute;
        display: inline-block;
        top: 30%;
        left: 27%;
        color: white;
        line-height: 80px;
    }
    #section_pix_4 > div > div.section_wrapper.clearfix > div > div > div.subtitle_style {
        line-height: 20px;
        width: 490px;
    }
    #email  {
        width: 300px;
        height: 35px;
        border-radius: 5px;
        border: 0px;
        padding: 0px;
    }
    #subscribe_btn_1{
        width: 150px;
        height: 35px;
        background: orange;
        color: white;
        font-weight: bold;
        border: 0px;
        border-radius: 5px;

    }
    #section_pix_4 > div > div.section_wrapper.clearfix > div > div > div.note_st {
        line-height: 30px;
        font-size: 12px ;
    }

    #section_pix_4 > div > div.section_wrapper.clearfix > div > div > div.title_style > span > span {
        color: white;
        font-size: 35px ;
        font-weight: 800;
    }
    #section_pix_4 > div > div.section_wrapper.clearfix > div > div > div.title_style > span {
        margin-bottom: 10px;
    }
    #hidden_pix_1 {
        display: none;
    }
    #hidden_pix_6{
        display: none;
    }
    #section_university_5 .pix_builder_bg .container .sixteen{
        overflow: auto;
        margin-top: 20px   ;
    }
    #section_university_5 .pix_builder_bg .container .sixteen .ten{
        width: 60%;
        float: left;
    }
    #section_university_5 .pix_builder_bg .container .sixteen .six {
        width: 40%;
        float: right;
    }
    #section_university_5 .pix_builder_bg .container .sixteen .six .substyle {
        width: 450px;
        height: 520px;
        background: lightgray;
        text-align: center;
        line-height: 20px;
    }
    #section_university_5 .pix_builder_bg .container .sixteen .six .substyle input {
        width: 400px;
        height: 50px;
        margin: 10px 0px;
        border: 0px;
        padding: 0px;
        border-radius: 0px;
    }
    #countries      {
        width: 400px;
        height: 50px;
        margin: 10px 0px;
        border: 0px;
        padding: 0px;
    }
    #submit_btn_6{
        width: 400px;
        height: 50px;
        margin: 10px 0px;
        border: 0px;
        padding: 0px;
        background: #7CC576;
        border-radius: 5px;
    }

    #section_university_5 > div > div > div > div.six.columns.omega > div > div.title-style > span > span {
        line-height: 100px;
        margin-right: 39%;
        font-size: 44px;
        margin-top: 64px;
    }

    #section_university_5 > div > div > div > div.six.columns.omega > div > div.text-style > span > span {
        line-height: 0px;
        margin-right: 30%;
        color: #7c7c7c;
    }